@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&display=swap');
:root {
  --mainBg: #666666;
  --compBg: #CCCCCC;
  --mainText: #ad8801;
  --textDarker: #4D4D4D;
  --iconDarker: #333333;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--appBg);
  display: flex;
  justify-content: center;
  font-family: 'Chakra Petch', sans-serif;

}

main {
  width: 100%;
  min-width: 25rem;
  min-height: 100vh;
  background: var(--mainBg);
  padding: 1rem 1.5rem;
}

h1 {
  text-align: center;
  letter-spacing: -1.9px;
  font-size: 2.25em;
  font-weight: 600;
  margin: 0;
  color: var(--compBg);
}

.fa-dumbbell {
  width: 100%;
  text-align: center;
  font-size: 7.5rem;
  color: var(--compBg);
  margin-top: .8rem;
}

.start {
  display: block;
  margin: auto;
  margin-top: 4rem;
  padding: 0.8rem 1.8rem;
  letter-spacing: -1.9px;
  font-size: 1.4rem;
  font-weight: 400;
  background: var(--compBg);
  color: var(--textDarker);
  border-radius: 5px;
  border: none;
}

.fa-play {
  color: var(--iconDarker);
  font-size: 2rem;
  vertical-align: bottom;
  margin-left: .4rem;
}

h2 {
  text-align: center;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:disabled {
  opacity: .3;
}

.absolute {
  position: fixed;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
}

.toggle-selection-container-btn {
  position: relative;
  top: 1px;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  background: var(--compBg);
  color: var(--textDarker);
  border-left: 1px solid var(--textDarker);
  border-right: 1px solid var(--textDarker);
  border-bottom: 1px solid var(--textDarker);
  border-radius: 5px 5px 0 0;
  padding: 0.3rem 1.5rem;
}

.fa-chevron-up, .fa-chevron-down {
  color: var(--iconDarker);
  margin-left: .5rem;
  vertical-align: bottom;
  transition: 150ms ease;
}

.fa-gear {
  color: var(--iconDarker);
  font-size: 1.7rem;
}

.selection-container {
  position: relative;
  overflow: hidden;
  background: var(--compBg);
  border-radius: 5px;
  border-left: 1px solid var(--textDarker);
  border-right: 1px solid var(--textDarker);
  border-bottom: 1px solid var(--textDarker);
}

.selection-container_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}

.selection-container_top_text {
  font-weight: 600;
  color: var(--textDarker);
}


.hr_divider {
  margin-top: 1rem;
  width: calc(100% + 5rem);
  position: relative;
  left: -3rem;
  border: 1px solid var(--textDarker);
  opacity: .5;
}

.selection-container-bottom {
  transition: 600ms ease;
  max-height: 0;
  padding: 1rem 1.5rem -1rem 1.5rem;
  overflow-y: auto;
}

.selection {
  display: flex;
  justify-content: space-between;
}


.shown {
  max-height: 15rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.sounds-toggle {
  border: none;
  background: transparent;
  margin: 1rem 0;
}

.fa-volume-high, .fa-volume-xmark {
  color: var(--iconDarker);
  font-size: 1.4rem;
}


.left_text {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    color: var(--textDarker);
    font-weight: 300;
}

.right_text {
  font-size: 1.2rem;
  color: var(--iconDarker);
  text-align: center;
  display: block;
  width: 3.5rem;
}

.fa-square-plus, .fa-square-minus {
  color: var(--iconDarker);
  opacity: .5;
  font-size: .9rem;
}

.time_container {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.time-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.right_text_span {
    text-align: left;
    font-weight: 600;
    
}

.time-btn:hover .fa-square-plus,
.time-btn:hover .fa-square-minus {
    opacity: 1;
}




section {
  position: relative;
  display: none;
  width: 100%;
  /* min-width: 30rem; */
  background: var(--mainBg) ;

  padding: 2rem;
}

h3 {
  color: var(--compBg);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1.9px;
  margin: 1rem;
  margin-top: 0;
}



.progress-bar {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: 
  radial-gradient(closest-side, var(--textDarker) 95%, transparent 80% 100%),
  conic-gradient(var(--compBg) 0%, var(--compBg) 0);
  position: relative;
}

.remainingRoundTime {
  position: relative;
  inset: 0;
  top: 5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--compBg);
}

#remainingRoundTime {
  color: var(--compBg);

}

.remaining {
  display: flex;
  gap: 5rem;
  letter-spacing: -1px;
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: .5rem;
}

.flex {
  display: block;
  width: fit-content;
  margin: 3rem auto;
  /* margin-top: 3rem; */
}


.btn-container {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.start-btn,
.pause-btn {
  width: 5rem;
  height: 4rem;
  border-radius: 10%;
  border: none;
  background: var(--compBg);
  transition: 150ms ease;
}

.start-btn:hover,
.pause-btn:hover {
  background: var(--iconDarker);
}

.start-btn:hover .fa-play,
.pause-btn:hover .fa-pause {
  color: var(--compBg);
}

.fa-play,
.fa-pause {
  font-size: 2rem;
  color: var(--iconDarker);
}

.fa-play:hover,
.fa-pause:hover {
  font-size: 2rem;
  color: var(--compBg);
}

.settings-btn {
  position: absolute;
  top: 2.3rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
  color: var(--compBg);
}

.settings-btn:hover {
  font-size: 2.2rem;
}

@media (max-width:500px) {

  body {
    margin: 0;
  }

  main {
    min-width: unset;
    width: 100%;
  }
  section {
    min-width: unset;
    width: 100%;
  }
}

.complete_container {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: #b9b9b9b5;
  display: none;
  justify-content: center;
}

.complete {
  background: #ad8801f2;
  text-align: center;
  border-radius: .6rem;
  width: 70%;
  height: fit-content;
  position: relative;
  top: 6rem;
  border: 2px solid var(--white);
}

h4 {
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 2rem 0;
}

.complete_text {
  font-size: 1.5rem;
  margin-top: -1rem;
}

.complete_total {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  letter-spacing: 2px;
  font-size: 1.2rem;
}

#totalTime {
  font-size: 2rem;
  color: black;
}

#backToMenu {
  background: black;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
}

.paused {
  display: none;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  background: var(--mainText);
  padding: 1rem;
  top: -1rem;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .selection {
    max-width: 30rem;
    margin: 0 auto;
  }

  .sounds-toggle {
    margin: 1rem auto;
    display: block;
  }
}


/* Disable double-tap zooming on Safari */
@media only screen and (max-device-width: 736px) {
  /* Replace 736px with your own device width */
  /* The following code disables zooming on double-tap */
  body {
    touch-action: manipulation;
  }
  /* The following code re-enables zooming for pinch gestures */
  /* You can adjust the zoom level to your preference */
  body {
    zoom: 1;
    /* Adjust the zoom level as needed */
    /* For example: zoom: 1.2; */
  }
}
