@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --appBg: #262533;
  --mainBg: #0e0d1d;
  --red: #ad8801;
  --white: #ffffff;
}

html {
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
  color: var(--white)
}

body {
  background: var(--appBg);
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  font-family: 'Bebas Neue', sans-serif;

}

main {
  width: 35%;
  min-width: 25rem;
  background: linear-gradient(var(--mainBg),#2e2528) ;
  border-radius: 2rem;

  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 2.6rem;
  margin: 0;
  color: var(--red);
}

h2 {
  text-align: center;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:disabled {
  opacity: .3;
}

.settings_icon {
    width: 1.5rem;
    filter: invert(100%);
    vertical-align: middle;
    margin-left: .2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right_text {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}

.left_text {
  font-size: 1.2rem;
}

.time_container {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.time-btn {
    width: 1rem;
    height: 1rem;
    color: var(--white);
    margin: 0;
    padding: .6rem;
    background: none;
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}

span {
    color: var(--red);
    letter-spacing: 1.5px;
    text-align: center;
}

.time-btn:hover {
    border: 2px dashed var(--red);
    ;
}

.decrement {
    background: url(images/minus_.png) center no-repeat;
    background-size: 70%;
}

.increment {
    background: url(images/plus_.png) center no-repeat;
    background-size: 70%;
}


.start {
  display: block;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 4px;
  background: var(--red);
  background-size: 2rem;
  border-radius: 3rem;
}

section {
  position: relative;
  display: none;
  width: 35%;
  min-width: 30rem;
  background: linear-gradient(var(--mainBg),#2e2528) ;
  border-radius: 2rem;

  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h3 {
  color: var(--red);
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 3px;
  margin: 1rem;
}



.progress-bar {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: 
  radial-gradient(closest-side, var(--mainBg) 79%, transparent 80% 100%),
  conic-gradient(#ffc800 0%, var(--mainBg) 0);    
}

.remaining {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
    font-size: 1.2rem;
}

.grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.start-btn,
.pause-btn {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}

.start-btn {
  background: var(--red) url(images/start.png) center no-repeat;
  background-size: 50%;
}

.pause-btn {
  background: var(--red) url(images/pause.png) center no-repeat;
  background-size: 50%;
}

.settings-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
  background: url(images/setting.png) center no-repeat;
  background-size: 60%;
  border: none;
  cursor: pointer;
  filter: invert(100%);
  border-radius: 50%;
}

.settings-btn:hover {
  transform: scale(1.1);
}

@media (max-width:500px) {

  body {
    margin: 0;
  }

  main {
    min-width: unset;
    width: 100%;
  }
  section {
    min-width: unset;
    width: 100%;
  }
}
