@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&display=swap');
:root {
  --mainBg: #666666;
  --compBg: #CCCCCC;
  --mainText: #ad8801;
  --textDarker: #4D4D4D;
  --iconDarker: #333333;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: var(--appBg);
  display: flex;
  justify-content: center;
  font-family: 'Chakra Petch', sans-serif;
}

main {
  width: 100%;
  min-width: 20rem;
  min-height: 100vh;
  background: var(--mainBg);
  padding: 1rem 1.5rem;
}

h1 {
  text-align: center;
  letter-spacing: -1.9px;
  font-size: 2.25em;
  font-weight: 600;
  margin: 0;
  color: var(--compBg);
}

h5 {
  font-size: 1rem;
  text-align: center;
}

ul {
  padding: 0;
  margin-top: 2rem;
  list-style: none;
}

li {
  display: flex;
  padding-bottom: .6rem;
  margin-bottom: 1.2rem;
  cursor: pointer;
  max-width: 30rem;
  align-items: center;
  justify-content: space-between;
  gap: 15vw;
  border-bottom: 1px solid #f0ffff36;
}

li:hover {
  color: rgb(95, 237, 237);
}

.fa-x {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.fa-trash-can {
  padding: 1rem;
}

.fa-trash-can:hover {
  color: red;
  transition: 150ms ease-out;
  transform: scale(1.04) rotate(15deg);
  -webkit-transform: scale(1.04) rotate(15deg);
  -moz-transform: scale(1.04) rotate(15deg);
  -ms-transform: scale(1.04) rotate(15deg);
  -o-transform: scale(1.04) rotate(15deg);
  -webkit-transition: 150ms ease-out;
  -moz-transition: 150ms ease-out;
  -ms-transition: 150ms ease-out;
  -o-transition: 150ms ease-out;
}

.fa-dumbbell {
  width: 100%;
  text-align: center;
  font-size: 11rem;
  color: var(--compBg);
  margin-top: .8rem;
}

.start {
  display: block;
  margin: auto;
  margin-top: 4rem;
  padding: 0.5rem 0.7rem;
  letter-spacing: -0.7px;
  font-size: 1.4rem;
  font-weight: 400;
  background: var(--compBg);
  color: var(--iconDarker);
  border-radius: 5px;
  border: 1px solid;
}

.fa-play {
  color: var(--iconDarker);
  font-size: 2rem;
  vertical-align: bottom;
  margin-left: .4rem;
}

h2 {
  text-align: center;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: inherit;
}

button:disabled {
  opacity: .3;
}

.absolute {
  position: fixed;
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
}

.toggle-selection-container-btn {
  position: relative;
  top: 1px;
  margin: 0 auto;
  margin-top: 2rem;
  display: block;
  background: var(--compBg);
  color: var(--textDarker);
  border-left: 1px solid var(--textDarker);
  border-right: 1px solid var(--textDarker);
  border-bottom: 1px solid var(--textDarker);
  border-radius: 5px 5px 0 0;
  padding: 0.3rem 1.5rem;
}

.fa-chevron-up, .fa-chevron-down {
  color: var(--iconDarker);
  margin-left: .5rem;
  vertical-align: bottom;
  transition: 150ms ease;
}

.fa-gear {
  color: var(--iconDarker);
  font-size: 1.7rem;
}

.selection-container {
  position: relative;
  overflow: hidden;
  background: var(--compBg);
  border-radius: 5px;
  border-left: 1px solid var(--textDarker);
  border-right: 1px solid var(--textDarker);
  border-bottom: 1px solid var(--textDarker);
}

.selection-container_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 0.8rem;
}

.selection-container_top_text {
  font-weight: 600;
  color: var(--textDarker);
}

.hr_divider {
  margin-top: 1rem;
  width: calc(100% + 5rem);
  position: relative;
  left: -3rem;
  border: 1px solid var(--textDarker);
  opacity: .5;
}

.sound_saved_wrapper {
  max-width: 30rem;
    margin: 0 auto;
}

.selection-container-bottom {
  transition: 600ms ease;
  max-height: 0;
  padding: 0;
  overflow-y: hidden;
}

.selection, .sound_saved_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.shown {
  max-height: 20rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.sounds-toggle {
  border: none;
  background: transparent;
  margin: 1rem 0;
}

.fa-volume-high, .fa-volume-xmark {
  color: var(--iconDarker);
  font-size: 1.4rem;
}

.saved_workouts {
  font-weight: 600;
}

.saved_workout_container {
  position: absolute;
  display: flex;
  z-index: -10;
  opacity: 0;
  top: 2rem;
  background: #1c1a1a;
  border-radius: 1rem;
  width: 80%;
  height: auto;
  max-height: 80%;
  overflow-y: auto;
  padding: 2rem;
  color: azure;
  font-size: 1.4rem;
  transition: 150ms ease-in-out;
  -webkit-transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  -ms-transition: 150ms ease-in-out;
  -o-transition: 150ms ease-in-out;
  flex-direction: column;
  align-items: center;
}

.saved_shown {
  opacity: .9;
  z-index: 10;
}

.premade_workouts {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  cursor: pointer;
  font-size: .7rem;
  opacity: .3;
  transition: 150ms ease;
  -webkit-transition: 150ms ease;
  -moz-transition: 150ms ease;
  -ms-transition: 150ms ease;
  -o-transition: 150ms ease;
}

.premade_workouts:disabled {
  display: none;
}

.premade_workouts:hover {
  opacity: .7;
}



.left_text {
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  color: var(--textDarker);
  font-weight: 300;
}

.right_text {
  font-size: 1.2rem;
  color: var(--iconDarker);
  text-align: center;
  display: block;
  width: 3.5rem;
}

.fa-square-plus, .fa-square-minus {
  color: var(--iconDarker);
  opacity: .5;
  font-size: .9rem;
}

.time_container {
  display: flex;
  gap: .5rem;
  align-items: center;
}

.time-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
}

.right_text_span {
  text-align: left;
  font-weight: 600;
    
}

.time-btn:hover .fa-square-plus,
.time-btn:hover .fa-square-minus {
  opacity: 1;
}

.save_btn {
  display: block;
  margin: auto;
  padding: .3rem;
  transition: 150ms ease-in;
  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
  -ms-transition: 150ms ease-in;
  -o-transition: 150ms ease-in;
}

.save_btn:hover {
  font-weight: 700;
}




section {
  position: relative;
  display: none;
  width: 100%;
  min-height: 100dvh;
  background: var(--mainBg) ;

  padding: 2rem;
}

h3 {
  color: var(--compBg);
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1.9px;
  margin: 1rem;
  margin-top: 0;
}



.progress-bar {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: 
  radial-gradient(closest-side, var(--textDarker) 95%, transparent 80% 100%),
  conic-gradient(var(--compBg) 0%, var(--compBg) 0);
  position: relative;
}

.remainingRoundTime {
  position: relative;
  inset: 0;
  top: 5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--compBg);
}

#remainingRoundTime {
  color: var(--compBg);

}

.remaining {
  display: flex;
  gap: 5rem;
  letter-spacing: -1px;
  font-size: 1.2rem;
  color: var(--white);
  margin-bottom: .5rem;
}

.flex {
  display: block;
  width: 17rem;
  margin: 3rem auto;
  /* margin-top: 3rem; */
}


.btn-container {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.start-btn,
.pause-btn {
  width: 5rem;
  height: 4rem;
  border-radius: 10%;
  border: none;
  background: var(--compBg);
  transition: 150ms ease;
}

.start-btn:hover,
.pause-btn:hover,
#start:hover {
  background: var(--iconDarker);
  color: var(--compBg);
}

#start {
  transition: 150ms ease;
}

.proceed-play {
  color: var(--iconDarker);
}

/* #start:hover {
  font-size: 1.5rem;
} */

#start:hover .proceed-play {
  color: var(--compBg);
}

.start-btn:hover .fa-play,
.pause-btn:hover .fa-pause {
  color: var(--compBg);
}

.fa-play,
.fa-pause {
  font-size: 2rem;
  color: var(--iconDarker);
}

.fa-play:hover,
.fa-pause:hover {
  font-size: 2rem;
  color: var(--compBg);
}

.settings-btn {
  position: absolute;
  top: 2.3rem;
  left: 2rem;
  width: 3rem;
  height: 3rem;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 2rem;
  color: var(--compBg);
}

.settings-btn:hover {
  font-size: 2.2rem;
}


h4 {
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 2rem 0;
}


.paused {
  display: none;
  width: fit-content;
  position: relative;
  margin: 0 auto;
  background: var(--mainText);
  padding: 1rem;
  top: -1rem;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .selection, .sound_saved_wrapper {
    max-width: 30rem;
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  h4 {
    font-size: 1.3rem;
  }

  li {
    font-size: 1.1rem;
  }
}


/* Disable double-tap zooming on Safari */
@media only screen and (max-device-width: 736px) {
  /* Replace 736px with your own device width */
  /* The following code disables zooming on double-tap */
  body {
    touch-action: manipulation;
  }
  /* The following code re-enables zooming for pinch gestures */
  /* You can adjust the zoom level to your preference */
  body {
    zoom: 1;
    /* Adjust the zoom level as needed */
    /* For example: zoom: 1.2; */
  }
}